.numbers-y {
    height: 97.5%;
    width: 10px;
    margin-top: 4px;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.numbers-x {
    height: 10px;
    width: 96%;
    display: flex;
    justify-content: space-evenly;
}

.nums {
    font-size: 8px;
    font-weight: 600;
    position: relative;
    width: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.nums-y-left {
    right: 11px;
}

.nums-y-right {
    left: 1px;
}

.nums-x-top {
    left: 8px;
    bottom: 2px;
}

.nums-x-bottom {
    left: 8px;
    top: 2px;
}