.graph {
    width: 900px;
    height: 600px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    display: grid;
    grid-template-rows: 50% 50%;
    grid-template-columns: 50% 50%;
}

.graph div {
    border: 2px solid black;
}

.graph .top-left, .graph .bottom-left {
    border-left: none;
}

.graph .top-right, .graph .bottom-right {
    border-right: none;
}

.graph .top-right, .graph .top-left {
    border-top: none;
}

.graph .bottom-right, .graph .bottom-left {
    border-bottom: none;
}

.graph .top-left {
    display: flex;
    justify-content: end;
}

.graph .bottom-right {
    display: flex;
    justify-content: start;
}

.graph .top-right {
    display: flex;
    flex-direction: column;
    justify-content: end;
}